body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 22px;
}

.roiM {
    /*main idea Romanenko*/
    font-weight: bold;
    font-style: italic;
}

.roi {
    /*idea Romanenko*/
    font-style: italic;
}

.menu_item {
    text-decoration: none;
    color: #909090;
}

.menu_item_active {
    color: #333;
}

.linkBlue {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #06c;
}
a:hover {
    color: #C00;
}

.top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    /*background: #000;*/
    background: #06c;
    border-radius: 100px;
    white-space: nowrap;
}

.image_res {
    max-width: 100%;
    height: auto;
  }