body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 22px;
}

.roiM {
    font-weight: bold;
    font-style: italic;
}

.roi {
    font-style: italic;
}

.menu_item {
    text-decoration: none;
    color: #909090;
}

.menu_item_active {
    color: #333;
}

.underline {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #06c;
}
a:hover {
    color: #C00;
}